@model WebApplication1.Models.Customer
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Registration</h2>



<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-save my-5">
            <div class="card-body">
                <h3 class="card-title text-center"><strong>Customer Entity</strong></h3>
                <form method="POST" class="form-save" id="CustomerCreate" enctype="multipart/form-data">
                    <div class="form-label-group">
                        <label for="inputCode"> Code</label>
                        <input type="text" id="Code" name="Code" class="form-control" placeholder="Customer Code" required autofocus>
                        <span id="CodeSpan" class="text-danger"></span>
                    </div>
                    <div class="form-label-group">
                        <label for="inputName"> Name</label>
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Customer Name" required autofocus>

                    </div>
                    <div class="form-label-group">
                        <label for="inputAddress"> Address</label>
                        <input type="text" id="Address" name="Address" class="form-control" placeholder="Customer Address" required autofocus>

                    </div>
                    <div class="form-label-group">
                        <label for="inputEmail"> Email</label>
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Customer Email" required autofocus>
                        <span id="EmailSpan" class="text-danger"></span>

                    </div>
                    <div class="form-label-group">
                        <label for="inputNumber">Contact Number</label>
                        <input type="text" id="ContactNumber" name="ContactNumber" class="form-control" placeholder="Customer Contact Number" required autofocus>

                    </div>
                    <div class="form-label-group">
                        <label for="inputContactName">Loyalty Point</label>
                        <input type="number" id="ContactPerson" name="LoyaltyPoint" class="form-control" placeholder="Loyalty Point" required autofocus>

                    </div>
                    <br />
                    <div>
                        <label class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-10">

                            <img src="" class="img-responsive img-thumbnail pch-img" id="cntimage" alt="select image">

                            <input type="file" name="UploadFile" required="required" onchange="readURL(this);">
                        </div>
                    </div>
                    <div>
                        <button id="btnSubmit" class="btn btn-info btn-block text-uppercase" type="submit">Save</button>

                    </div>

                </form>
            </div>

        </div>


    </div>
</div>
<div>
    <h3>
        @Html.ActionLink("Back To Index", "Index")
    </h3>
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ProjectScripts/Customer/CustomerCreate.js"></script>



