@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <p><b>Name of Project       :  </b>Small Business Management System </p>
    <p><b>Type of application   :  </b>Web Application </p>
    <p><b>Technology Stack      :  </b>C#, MVC, MS SQL Server </p>
    <p><b>Design Pattern        : </b>MVC 5(.NET), 3-tier Architecture</p>
</div>

<div class="row lead">
    <div class="col-md-8">
        <h2>Project Discription:</h2>
        <p>
            ABC Company is a small retail company, they purchase their products and sale the products with a profit margin.
            Currently they are managing their business manually, for that reason ABC Company is suffering to manage their stocks
            and sale management information, also the purchase informations on their products as they needed more time to summarize the result.
        </p><br />
        <p>
            So, ABC wants an automation system which will manage their small business,
            and they will be able to manage their products, purchases, stocks and sales,
            with which they could have right data on time and with less effort.
        </p>
    </div>
</div>
