@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div id="CategoryCreatePvDiv"></div>

<div>
    <h2 class="text-info">
        Create Product
    </h2>
</div>
<div>
    <form method="POST" id="ProductCreate" class="form-horizontal" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10">
                        <input name="Code" type="text" class="form-control" placeholder="Code" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input name="Name" type="text" class="form-control" placeholder="Name" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-8">

                        <select name="CategoryId" class="form-control" id="CategoryId" autofocus></select>
                        @*@Html.DropDownListFor(c => c.CategoryId, Model.CategoryLookUp, new {@class = "form-control"})*@
                        @*<select name="CategoryId" class="form-control">
                                <option>Select Option</option>
                                <option value="1">Select 1</option>
                                <option value="2">Select 2</option>
                                <option value="3">Select 3</option>
                            </select>*@
                    </div>
                    <div class="col-sm-2  category-add-icon" style="font-size: 20px">

                        <button id="CategoryIcon" class="btn btn-info">Add</button>

                        @*<button class="btn btn-warning " data-toggle="modal" data-target="#myModal">
                                Add
                            </button>*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Reorder Level</label>
                    <div class="col-sm-10">
                        <input name="ReOrderLevel" type="number" class="form-control" placeholder="Reorder Level" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea name="Description" class="form-control" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <img src="" class="img-responsive img-thumbnail pch-img" id="cntimage" alt="select image">
                        <input type="file" name="UploadFile" required="required" onchange="readURL(this);">
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn  btn-lg btn-success">Save</button>
                    </div>
                </div>
            </div>


        </div>


    </form>


</div>

<div>
    <h3>
        @Html.ActionLink("Back to List", "Index")
    </h3>
</div>

@*For Modal Add*@
<form method="post">
    @Html.AntiForgeryToken()
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modalPartialViewDiv">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="True" data-dismiss="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Create New Category
                    </h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" name="Name" id="Name" placeholder="Name" />
                            </td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td>
                                <input type="text" name="Code" id="Code" placeholder="Code" />
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="categorySubmitButton" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>




@*Script for view Image from your directory*@
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#cntimage')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ProductCreate").validate({
            rules: {
                Code: {
                    required: true,
                    minlength: 3

                },
                Name: {
                    required: true,

                },
                ReOrderLevel: {
                    required: true,

                },
                UploadFile: {
                    required: true,
                   
                },
               

            },
            messages: {
                Name: "Please enter your product name!",
                
                Code: {
                    required: "Please enter your product code",
                    minlength: "Code should be at least 3 characters"
                },
                ReOrderLevel: "Please enter your product re-order level!",
                UploadFile: "Please enter your product image!",
                
                

            }
        });
    });
</script>



